---
layout: draft_default
title: Home
---

<section class="PageContainer__pageContent___1xERg undefined">
    <div class="PageSections__container___2--Bs">
        <!-- {% include newyorker/promoSection.html %} -->

        <!-- IN THE NEWS / FEATURED -->
        <section class="HeroSecondaryInTheNewsSection__sectionRow___1vXR7">
            <div class="HeroSecondaryInTheNewsSection__sectionColumn___2JPO5">

                <!-- In the News - Left and Centre Column -->
                <div class="HeroSecondarySection__heroSecondarySectionColumn___1APEX">

                    <!-- Hero Item -->
                    <div class="HeroSecondarySection__heroSecondaryItemsColumn___2zjhd">
                        <div data-track-type="recirc" data-track-location="mod-featured-header-alt" data-service="none" data-source="curated">
                            <div class="Card__heroSecondaryHeroItems___3O_Xd">
                                {% include newyorker/sections/01-in-the-news/hero-item.html %}
                            </div>
                        </div>
                    </div>
                    <!-- END Hero Item -->

                    <!-- Left Column -->
                    {% include newyorker/sections/01-in-the-news/left-section.html %}
                    <!-- END Left Column -->

                    <!-- Under Hero Item -->
                    <div data-track-type="recirc" data-track-location="mod-secondary-alt" data-service="none" data-source="curated" class="HeroSecondarySection__underHeroItemColumn___2TjUO">
                        <div class="Card__underHeroItem___1eZ71">
                            {% include newyorker/sections/01-in-the-news/below-item.html %}
                        </div>
                    </div>
                    <!-- END Under Hero Item -->

                </div>
                <!-- END In the News - Left and Centre Column -->

                <!-- Right Column -->
                <div data-track-type="recirc" data-track-location="mod-in-the-news-alt" data-service="none" data-source="curated" class="InTheNewsSection__sectionColumn___3OyZT">

                    {% include newyorker/sections/01-in-the-news/right-section.html %}

                </div>
                <!-- END Right Column -->
            </div>
        </section>
        <!-- END IN THE NEWS / FEATURED -->

        <!-- {% include newyorker/promoSection.html %} -->

        <!-- Spotlight Section -->
        {% include newyorker/sections/02-spotlight/section.html %}
        <!-- END Spotlight Section -->

        <!-- Latest Section -->
        {% include newyorker/sections/03-latest/section.html %}
        <!-- END Latest Section -->


        <!-- {% include newyorker/promoSection.html %} -->

        <!-- Contributors and Most Popular, Two Columns -->
        <div class="ContributorsSection__twoColumn___3aCEa">

          <!-- Contributors Section -->
            <section data-track-type="recirc" data-track-location="mod-contributors" data-service="none" data-source="curated" class="ContributorsSection__section___abHAt">
                <div class="ContributorsSection__sectionRow___J3SGx">
                    <div class="ContributorsSection__sectionColumn___2_3FJ">
                        <h5 class="ContributorsSection__sectionHeader___1LeEd">Contributors</h5>
                        <div class="ContributorsSection__wrapper___2PiNU">

                            <!-- Contributor 1 -->
                            {% include newyorker/sections/04-contributors-and-most-popular/contributors/item.html item='test' %}

                            <!-- Contributor 2 -->
                            <div class="Contributor__itemContainer___3CS3_">
                                <a class="Link__link___3dWao  " href="/contributors/andrea-k-scott">
                                    <div class="Image__image___1PhYl Contributor__photo___SVmjU" role="button" tabindex="0">
                                        <picture class="component-responsive-image">
                                            <source srcSet="https://media.newyorker.com/photos/59097b7d8b51cf59fc423c6b/1:1/w_130,c_limit/scott-andrea.png, https://media.newyorker.com/photos/59097b7d8b51cf59fc423c6b/1:1/w_260,c_limit/scott-andrea.png 2x" /><img alt="" src="https://media.newyorker.com/photos/59097b7d8b51cf59fc423c6b/1:1/w_130,c_limit/scott-andrea.png" title="" /></picture>
                                    </div>
                                </a>
                                <div><a class="Link__link___3dWao Contributor__name___2cnfi " href="/contributors/andrea-k-scott">Andrea K. Scott</a><a class="Link__link___3dWao  " href="/culture/cultural-comment/how-jeff-koonss-rabbit-became-big-game"><h3 class="Contributor__hed___2z_RO">How Jeff Koons’s “Rabbit” Became Big Game</h3></a><a class="Link__link___3dWao Contributor__work___392rP " href="/contributors/andrea-k-scott">All Work</a></div>
                            </div>

                            <!-- Contributor 3 -->
                            <div class="Contributor__itemContainer___3CS3_">
                                <a class="Link__link___3dWao  " href="/contributors/isaac-chotiner">
                                    <div class="Image__image___1PhYl Contributor__photo___SVmjU" role="button" tabindex="0">
                                        <picture class="component-responsive-image">
                                            <source srcSet="https://media.newyorker.com/photos/5c2d27f781ab3335f580efe4/1:1/w_130,c_limit/isaac_chotiner.png, https://media.newyorker.com/photos/5c2d27f781ab3335f580efe4/1:1/w_260,c_limit/isaac_chotiner.png 2x" /><img alt="" src="https://media.newyorker.com/photos/5c2d27f781ab3335f580efe4/1:1/w_130,c_limit/isaac_chotiner.png" title="" /></picture>
                                    </div>
                                </a>
                                <div><a class="Link__link___3dWao Contributor__name___2cnfi " href="/contributors/isaac-chotiner">Isaac Chotiner</a><a class="Link__link___3dWao  " href="/news/q-and-a/a-philosopher-of-law-on-the-dangers-of-trumps-plan-to-pardon-american-war-criminals"><h3 class="Contributor__hed___2z_RO">A Law Philosopher on Trump’s Plan to Pardon War Criminals</h3></a><a class="Link__link___3dWao Contributor__work___392rP " href="/contributors/isaac-chotiner">All Work</a></div>
                            </div>

                            <!-- Contributor 4 -->
                            <div class="Contributor__itemContainer___3CS3_">
                                <a class="Link__link___3dWao  " href="/contributors/sarah-larson">
                                    <div class="Image__image___1PhYl Contributor__photo___SVmjU" role="button" tabindex="0">
                                        <picture class="component-responsive-image">
                                            <source srcSet="https://media.newyorker.com/photos/59097b7aebe912338a378662/1:1/w_130,c_limit/larson-sarah-1.png, https://media.newyorker.com/photos/59097b7aebe912338a378662/1:1/w_260,c_limit/larson-sarah-1.png 2x" /><img alt="" src="https://media.newyorker.com/photos/59097b7aebe912338a378662/1:1/w_130,c_limit/larson-sarah-1.png" title="" /></picture>
                                    </div>
                                </a>
                                <div><a class="Link__link___3dWao Contributor__name___2cnfi " href="/contributors/sarah-larson">Sarah Larson</a><a class="Link__link___3dWao  " href="/culture/the-new-yorker-interview/daenerys-tells-all-game-of-thrones-finale-emilia-clarke-beyonce"><h3 class="Contributor__hed___2z_RO">Daenerys Tells All!</h3></a><a class="Link__link___3dWao Contributor__work___392rP " href="/contributors/sarah-larson">All Work</a></div>
                            </div>
                        </div>

                        <!-- More Contributors-->
                        <a class="Link__link___3dWao  Link__secondary___3lxp9" href="/contributors">More Contributors</a></div>
                </div>
            </section>
            <!-- END Contributors Section -->

            <!-- Most Popular Section -->
            <section class="MostPopularSection__section___2xjs1">
                <div class="MostPopularSection__sectionRow___1mfu3">
                    <div class="MostPopularSection__sectionColumn___K50O1">
                        <div class="RecirculationMostPopular__home___24fon">
                            <h3 class="RecirculationMostPopular__title___zwZ4R">Most Popular</h3>
                            <ul data-track-type="recirc" data-track-location="mod-most-popular" data-service="parsely" data-source="parsely" class="RecirculationMostPopular__itemsList___2lXkt">
                                <!-- First -->
                                {% include newyorker/sections/04-contributors-and-most-popular/most-popular/item.html item='test' %}

                                <!-- Second -->
                                <li class="RecirculationMostPopular__item___2z9PN" data-track-type="recircItem" data-track-location="mod-most-popular" data-source="parsely" data-track-position="1"><span class="RecirculationMostPopular__counter___3YFww">2.</span>
                                    <div class="RecirculationMostPopular__content___1no0_"><span class="RecirculationMostPopular__rubric___29E94">Letter from Montreal</span><a class="Link__link___3dWao  " href="/magazine/2019/05/27/joe-beef-and-the-excesses-of-restaurant-culture"><h5 class="RecirculationMostPopular__hed___1Yugq">Joe Beef and the Excesses of Restaurant Culture</h5></a>
                                        <div class="Byline__theLatest___2viI5  ">
                                            <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="Hannah Goldfield" rel="author" href="/contributors/hannah-goldfield">Hannah Goldfield</a></p>
                                        </div>
                                    </div>
                                </li>

                                <!-- Third -->
                                <li class="RecirculationMostPopular__item___2z9PN" data-track-type="recircItem" data-track-location="mod-most-popular" data-source="parsely" data-track-position="2"><span class="RecirculationMostPopular__counter___3YFww">3.</span>
                                    <div class="RecirculationMostPopular__content___1no0_"><span class="RecirculationMostPopular__rubric___29E94">Personal History</span><a class="Link__link___3dWao  " href="/magazine/2019/05/27/losing-religion-and-finding-ecstasy-in-houston"><h5 class="RecirculationMostPopular__hed___1Yugq">Losing Religion and Finding Ecstasy in Houston</h5></a>
                                        <div class="Byline__theLatest___2viI5  ">
                                            <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="Jia Tolentino" rel="author" href="/contributors/jia-tolentino">Jia Tolentino</a></p>
                                        </div>
                                    </div>
                                </li>

                                <!-- Fourth -->
                                <li class="RecirculationMostPopular__item___2z9PN" data-track-type="recircItem" data-track-location="mod-most-popular" data-source="parsely" data-track-position="3"><span class="RecirculationMostPopular__counter___3YFww">4.</span>
                                    <div class="RecirculationMostPopular__content___1no0_"><span class="RecirculationMostPopular__rubric___29E94">Books</span><a class="Link__link___3dWao  " href="/magazine/2019/05/27/the-troubled-history-of-psychiatry"><h5 class="RecirculationMostPopular__hed___1Yugq">The Troubled History of Psychiatry</h5></a>
                                        <div class="Byline__theLatest___2viI5  ">
                                            <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="Jerome Groopman" rel="author" href="/contributors/jerome-groopman">Jerome Groopman</a></p>
                                        </div>
                                    </div>
                                </li>

                                <!-- Fifth -->
                                <li class="RecirculationMostPopular__item___2z9PN" data-track-type="recircItem" data-track-location="mod-most-popular" data-source="parsely" data-track-position="4"><span class="RecirculationMostPopular__counter___3YFww">5.</span>
                                    <div class="RecirculationMostPopular__content___1no0_"><span class="RecirculationMostPopular__rubric___29E94">A Reporter at Large</span><a class="Link__link___3dWao  " href="/magazine/2019/05/27/the-undercover-fascist"><h5 class="RecirculationMostPopular__hed___1Yugq">The Undercover Fascist</h5></a>
                                        <div class="Byline__theLatest___2viI5  ">
                                            <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="Ed Caesar" rel="author" href="/contributors/ed-caesar">Ed Caesar</a></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- Runner ups -->
                            <a class="Link__link___3dWao RecirculationMostPopular__more___q6L9B Link__secondary___3lxp9" href="/popular?intcid=most-popular"><span>our thirty most popular</span></a></div>
                    </div>
                </div>
            </section>
            <!-- END Most Popular Section -->
        </div>
        <!-- END Two Columns -->

        <!-- Video Section -->
        {% if site.videoSection %}
        {% include newyorker/sections/05-video/section.html %}
        {% endif %}
        <!-- END Video Section -->

        <!-- Daily Cartoon Section -->
        {% if site.dailyCartoonSection %}
        {% include newyorker/sections/06-daily-cartoon/section.html %}
        {% endif %}
        <!-- END Daily Cartoon Section -->

        <!-- Photo Booth Section -->
        {% if site.photoBoothSection %}
        {% include newyorker/sections/07-photo-booth/section.html %}
        {% endif %}
        <!-- END Photo Booth Section -->

        <!-- Magazine Section -->
        {% if site.magazineSection %}
        {% include newyorker/sections/08-magazine/section.html %}
        {% endif %}
        <!-- END Magazine Section -->

        <!-- From This Week Issue Section -->
        {% if site.fromThisWeekSection %}
        {% include newyorker/sections/09-from-this-week/section.html %}
        {% endif %}
        <!-- END From This Week Section -->

        <!-- Our Columnists Section -->
        {% if site.ourColumnistsSection %}
        {% include newyorker/sections/10-our-columnists/section.html %}
        {% endif %}
        <!-- END Our Columnist Section -->

        <!-- Podcasts Section -->
        {% if site.podcastsSection %}
        {% include newyorker/sections/11-podcasts/section.html %}
        {% endif %}
        <!-- END Podcast Section -->

        <!-- Previous Coverage Section -->
        {% if site.previousCoverageSection %}
        {% include newyorker/sections/12-previous-coverage/section.html %}
        {% endif %}
        <!-- END Previous Coverage Section -->
    </div>
</section>
