---
layout: draft_default
title: Home
---

<section class="PageContainer__pageContent___1xERg undefined">
    <div class="PageSections__container___2--Bs">
        <!-- {% include newyorker/promoSection.html %} -->

        <!-- IN THE NEWS / FEATURED -->
        <section class="HeroSecondaryInTheNewsSection__sectionRow___1vXR7">
            <div class="HeroSecondaryInTheNewsSection__sectionColumn___2JPO5">

                <!-- In the News - Left and Centre Column -->
                <div class="HeroSecondarySection__heroSecondarySectionColumn___1APEX">

                    <!-- Hero Item -->
                    <div class="HeroSecondarySection__heroSecondaryItemsColumn___2zjhd">
                        <div data-track-type="recirc" data-track-location="mod-featured-header-alt" data-service="none" data-source="curated">
                            <div class="Card__heroSecondaryHeroItems___3O_Xd">
                                {% include newyorker/sections/01-in-the-news/hero-item.html item='test' %}
                            </div>
                        </div>
                    </div>
                    <!-- END Hero Item -->

                    <!-- Left Column -->
                    <div data-track-type="recirc" data-track-location="mod-secondary-alt" data-service="none" data-source="curated" class="HeroSecondarySection__secondaryItemsColumn___WTSfd">

                        <!-- Above item -->
                        {% include newyorker/sections/01-in-the-news/left-item.html item='test' %}

                        <!-- Below item -->
                        <div class="Card__heroSecondarySecondaryItemsRest___38peE">
                            <div class="Card__content___2_jDO undefined"><a class="Link__link___3dWao Rubric__rubric___3hrQE Card__rubric___npBeO " href="/magazine/a-reporter-at-large" title="A Reporter at Large">A Reporter at Large</a>
                                <a class="Link__link___3dWao Card__imageLink___16N7I " href="/magazine/2019/05/27/the-undercover-fascist">
                                    <div class="Image__image___1PhYl Card__image___OLrHW" role="button" tabindex="0">
                                        <picture class="component-responsive-image">
                                            <source media="(min-width: 1280px)" srcSet="https://media.newyorker.com/photos/5cdf26141280473bd6a504ec/4:3/w_300,c_limit/190527_r34376_rd.jpg, https://media.newyorker.com/photos/5cdf26141280473bd6a504ec/4:3/w_600,c_limit/190527_r34376_rd.jpg 2x" />
                                            <source media="(min-width: 1280px)" srcSet="https://media.newyorker.com/photos/5cdf26141280473bd6a504ec/4:3/w_259,c_limit/190527_r34376_rd.jpg, https://media.newyorker.com/photos/5cdf26141280473bd6a504ec/4:3/w_518,c_limit/190527_r34376_rd.jpg 2x" />
                                            <source media="(min-width: 1024px)" srcSet="https://media.newyorker.com/photos/5cdf26141280473bd6a504ec/4:3/w_142,c_limit/190527_r34376_rd.jpg, https://media.newyorker.com/photos/5cdf26141280473bd6a504ec/4:3/w_284,c_limit/190527_r34376_rd.jpg 2x" />
                                            <source srcSet="https://media.newyorker.com/photos/5cdf26141280473bd6a504ec/4:3/w_728,c_limit/190527_r34376_rd.jpg, https://media.newyorker.com/photos/5cdf26141280473bd6a504ec/4:3/w_1456,c_limit/190527_r34376_rd.jpg 2x" /><img alt="" src="https://media.newyorker.com/photos/5cdf26141280473bd6a504ec/4:3/w_728,c_limit/190527_r34376_rd.jpg" title="" /></picture>
                                    </div>
                                </a><a class="Link__link___3dWao  " href="/magazine/2019/05/27/the-undercover-fascist"><h3 class="Card__hed___31cLY">The Undercover Fascist</h3></a>
                                <p class="Card__dek___29Iu1">A young Englishman got mixed up in a white-supremacist movement. Then he learned of a plot to kill a politician.</p>
                                <div class="Byline__theLatest___2viI5  ">
                                    <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="Ed Caesar" rel="author" href="/contributors/ed-caesar">Ed Caesar</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Left Column -->

                    <!-- Under Hero Item -->
                    <div data-track-type="recirc" data-track-location="mod-secondary-alt" data-service="none" data-source="curated" class="HeroSecondarySection__underHeroItemColumn___2TjUO">
                        <div class="Card__underHeroItem___1eZ71">
                            {% include newyorker/sections/01-in-the-news/left-item.html item='test' %}
                        </div>
                    </div>
                    <!-- END Under Hero Item -->

                </div>
                <!-- END In the News - Left and Centre Column -->

                <!-- Right Column -->
                <div data-track-type="recirc" data-track-location="mod-in-the-news-alt" data-service="none" data-source="curated" class="InTheNewsSection__sectionColumn___3OyZT">

                    <!-- Right Column Title -->
                    <h5 class="InTheNewsSection__sectionHeader___2_kyj">News &amp; Culture</h5>

                    <div class="InTheNewsSection__sectionContent___Rs0Uv">
                        <div class="InTheNewsSection__itemsColumn___2NmEq">

                            <!-- Top Top Item -->
                            {% include newyorker/sections/01-in-the-news/right-item.html item='test' %}

                            <!-- Top Bottom Item -->
                            <div class="Card__inTheNewsItems___hdiHO">
                                <div class="Card__content___2_jDO undefined">
                                    <a class="Link__link___3dWao Card__imageLink___16N7I " href="/news/q-and-a/a-political-economist-on-how-china-sees-trumps-trade-war">
                                        <div class="Image__image___1PhYl Card__image___OLrHW" role="button" tabindex="0">
                                            <picture class="component-responsive-image">
                                                <source media="(min-width: 768px)" srcSet="https://media.newyorker.com/photos/5ce574de0946388189e200be/2:2/w_84,c_limit/Chotiner-China-2.jpg, https://media.newyorker.com/photos/5ce574de0946388189e200be/2:2/w_168,c_limit/Chotiner-China-2.jpg 2x" />
                                                <source srcSet="https://media.newyorker.com/photos/5ce574de0946388189e200be/2:2/w_72,c_limit/Chotiner-China-2.jpg, https://media.newyorker.com/photos/5ce574de0946388189e200be/2:2/w_144,c_limit/Chotiner-China-2.jpg 2x" /><img alt="" src="https://media.newyorker.com/photos/5ce574de0946388189e200be/2:2/w_72,c_limit/Chotiner-China-2.jpg" title="" /></picture>
                                        </div>
                                    </a><a class="Link__link___3dWao  " href="/news/q-and-a/a-political-economist-on-how-china-sees-trumps-trade-war"><h3 class="Card__hed___31cLY">A Political Economist on How China Sees Trump’s Trade War</h3></a>
                                    <div class="Byline__theLatest___2viI5  ">
                                        <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="Isaac Chotiner" rel="author" href="/contributors/isaac-chotiner">Isaac Chotiner</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="InTheNewsSection__itemsColumn___2NmEq">

                            <!-- Bottom Top Item -->
                            <div class="Card__inTheNewsItems___hdiHO">
                                <div class="Card__content___2_jDO undefined">
                                    <a class="Link__link___3dWao Card__imageLink___16N7I " href="/books/under-review/the-rock-critic-robert-christgaus-big-hearted-theory-of-pop">
                                        <div class="Image__image___1PhYl Card__image___OLrHW" role="button" tabindex="0">
                                            <picture class="component-responsive-image">
                                                <source media="(min-width: 768px)" srcSet="https://media.newyorker.com/photos/5cdc454565b32e554dd990b2/2:2/w_84,c_limit/Cantwell-Christgau.jpg, https://media.newyorker.com/photos/5cdc454565b32e554dd990b2/2:2/w_168,c_limit/Cantwell-Christgau.jpg 2x" />
                                                <source srcSet="https://media.newyorker.com/photos/5cdc454565b32e554dd990b2/2:2/w_72,c_limit/Cantwell-Christgau.jpg, https://media.newyorker.com/photos/5cdc454565b32e554dd990b2/2:2/w_144,c_limit/Cantwell-Christgau.jpg 2x" /><img alt="" src="https://media.newyorker.com/photos/5cdc454565b32e554dd990b2/2:2/w_72,c_limit/Cantwell-Christgau.jpg" title="" /></picture>
                                        </div>
                                    </a><a class="Link__link___3dWao  " href="/books/under-review/the-rock-critic-robert-christgaus-big-hearted-theory-of-pop"><h3 class="Card__hed___31cLY">The Rock Critic Robert Christgau’s Big-Hearted Theory of Pop</h3></a>
                                    <div class="Byline__theLatest___2viI5  ">
                                        <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="David Cantwell" rel="author" href="/contributors/david-cantwell">David Cantwell</a></p>
                                    </div>
                                </div>
                            </div>

                            <!-- Bottom Bottom Item -->
                            <div class="Card__inTheNewsItems___hdiHO">
                                <div class="Card__content___2_jDO undefined">
                                    <a class="Link__link___3dWao Card__imageLink___16N7I " href="/magazine/2019/05/27/the-shed-attempts-to-inject-culture-into-hudson-yards">
                                        <div class="Image__image___1PhYl Card__image___OLrHW" role="button" tabindex="0">
                                            <picture class="component-responsive-image">
                                                <source media="(min-width: 768px)" srcSet="https://media.newyorker.com/photos/5cdee56865b32edf33d995aa/2:2/w_84,c_limit/190527_r34387_rd.jpg, https://media.newyorker.com/photos/5cdee56865b32edf33d995aa/2:2/w_168,c_limit/190527_r34387_rd.jpg 2x" />
                                                <source srcSet="https://media.newyorker.com/photos/5cdee56865b32edf33d995aa/2:2/w_72,c_limit/190527_r34387_rd.jpg, https://media.newyorker.com/photos/5cdee56865b32edf33d995aa/2:2/w_144,c_limit/190527_r34387_rd.jpg 2x" /><img alt="" src="https://media.newyorker.com/photos/5cdee56865b32edf33d995aa/2:2/w_72,c_limit/190527_r34387_rd.jpg" title="" /></picture>
                                        </div>
                                    </a><a class="Link__link___3dWao  " href="/magazine/2019/05/27/the-shed-attempts-to-inject-culture-into-hudson-yards"><h3 class="Card__hed___31cLY">The Shed Attempts to Inject Culture Into Hudson Yards</h3></a>
                                    <div class="Byline__theLatest___2viI5  ">
                                        <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="Alex Ross" rel="author" href="/contributors/alex-ross">Alex Ross</a></p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- END Right Column -->
            </div>
        </section>
        <!-- END IN THE NEWS / FEATURED -->

        <!-- {% include newyorker/promoSection.html %} -->

        <!-- Spotlight Section -->
        <section data-track-type="recirc" data-track-location="mod-spotlight" data-service="none" data-source="curated" class="SpotlightSection__sectionRow___f5Ltn">
            <div class="SpotlightSection__sectionColumn___ZlqFU">

                <!-- Content Container -->
                <div class="SpotlightSection__sectionContentContainer___2ofcM">
                    <h5 class="SpotlightSection__sectionHeader___nNdiK">Spotlight</h5>
                    <div class="SpotlightSection__content___2pJqa">
                        <div class="SpotlightSection__itemsColumn___1C0Z6">
                          <!-- First two go to the first row, then the third and fourth, and lastly the fifth and sixth -->

                            <!-- Item 1  -->
                            {% include newyorker/sections/02-spotlight/item.html item='test' %}

                            <!-- Item 2 -->
                            <div class="SpotlightSection__spotlightItemContainer___3Aiko">
                                <div class="Card__spotlightItemsAlt___3zmmE">
                                    <div class="Card__content___2_jDO undefined"><a class="Link__link___3dWao Rubric__rubric___3hrQE Card__rubric___npBeO " href="/news/our-columnists" title="Our Columnists">Our Columnists</a>
                                        <a class="Link__link___3dWao Card__imageLink___16N7I " href="/news/our-columnists/the-trump-administration-is-selling-out-hundreds-of-millions-of-cell-phone-users">
                                            <div class="Image__image___1PhYl Card__image___OLrHW" role="button" tabindex="0">
                                                <picture class="component-responsive-image">
                                                    <source media="(min-width: 1280px)" srcSet="https://media.newyorker.com/photos/5ce41396c98ea2127931dafd/4:3/w_112,c_limit/Cassidy-TMobileSprintMerger.jpg, https://media.newyorker.com/photos/5ce41396c98ea2127931dafd/4:3/w_224,c_limit/Cassidy-TMobileSprintMerger.jpg 2x" />
                                                    <source media="(min-width: 768px)" srcSet="https://media.newyorker.com/photos/5ce41396c98ea2127931dafd/4:3/w_72,c_limit/Cassidy-TMobileSprintMerger.jpg, https://media.newyorker.com/photos/5ce41396c98ea2127931dafd/4:3/w_144,c_limit/Cassidy-TMobileSprintMerger.jpg 2x" />
                                                    <source srcSet="https://media.newyorker.com/photos/5ce41396c98ea2127931dafd/4:3/w_768,c_limit/Cassidy-TMobileSprintMerger.jpg, https://media.newyorker.com/photos/5ce41396c98ea2127931dafd/4:3/w_1536,c_limit/Cassidy-TMobileSprintMerger.jpg 2x" /><img alt="" src="https://media.newyorker.com/photos/5ce41396c98ea2127931dafd/4:3/w_768,c_limit/Cassidy-TMobileSprintMerger.jpg" title="" /></picture>
                                            </div>
                                        </a><a class="Link__link___3dWao  " href="/news/our-columnists/the-trump-administration-is-selling-out-hundreds-of-millions-of-cell-phone-users"><h3 class="Card__hed___31cLY">The Trump Administration Sells Out Cell-Phone Users</h3></a>
                                        <p class="Card__dek___29Iu1">If T-Mobile and Sprint are allowed to merge, the new combined company could settle into a cozy relationship with the other two national carriers.</p>
                                        <div class="Byline__theLatest___2viI5  ">
                                            <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="John Cassidy" rel="author" href="/contributors/john-cassidy">John Cassidy</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Item 3 -->
                            <div class="SpotlightSection__spotlightItemContainer___3Aiko">
                                <div class="Card__spotlightItemsAlt___3zmmE">
                                    <div class="Card__content___2_jDO undefined"><a class="Link__link___3dWao Rubric__rubric___3hrQE Card__rubric___npBeO " href="/news/letter-from-the-uk" title="Letter from the U.K.">Letter from the U.K.</a>
                                        <a class="Link__link___3dWao Card__imageLink___16N7I " href="/news/letter-from-the-uk/the-alarming-return-of-nigel-farage">
                                            <div class="Image__image___1PhYl Card__image___OLrHW" role="button" tabindex="0">
                                                <picture class="component-responsive-image">
                                                    <source media="(min-width: 1280px)" srcSet="https://media.newyorker.com/photos/5ce32bfe53abc42569bba6a9/4:3/w_112,c_limit/Knight-Farage.jpg, https://media.newyorker.com/photos/5ce32bfe53abc42569bba6a9/4:3/w_224,c_limit/Knight-Farage.jpg 2x" />
                                                    <source media="(min-width: 768px)" srcSet="https://media.newyorker.com/photos/5ce32bfe53abc42569bba6a9/4:3/w_72,c_limit/Knight-Farage.jpg, https://media.newyorker.com/photos/5ce32bfe53abc42569bba6a9/4:3/w_144,c_limit/Knight-Farage.jpg 2x" />
                                                    <source srcSet="https://media.newyorker.com/photos/5ce32bfe53abc42569bba6a9/4:3/w_768,c_limit/Knight-Farage.jpg, https://media.newyorker.com/photos/5ce32bfe53abc42569bba6a9/4:3/w_1536,c_limit/Knight-Farage.jpg 2x" /><img alt="" src="https://media.newyorker.com/photos/5ce32bfe53abc42569bba6a9/4:3/w_768,c_limit/Knight-Farage.jpg" title="" /></picture>
                                            </div>
                                        </a><a class="Link__link___3dWao  " href="/news/letter-from-the-uk/the-alarming-return-of-nigel-farage"><h3 class="Card__hed___31cLY">The Alarming Return of Nigel Farage</h3></a>
                                        <p class="Card__dek___29Iu1">The only stated aim of the nationalist politician’s new Brexit Party is to remove Britain from the E.U. without a deal, an outcome that is likely to crash the economy and interrupt the country’s food and medical supplies.</p>
                                        <div class="Byline__theLatest___2viI5  ">
                                            <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="Sam Knight" rel="author" href="/contributors/sam-knight">Sam Knight</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Item 4 -->
                            <div class="SpotlightSection__spotlightItemContainer___3Aiko">
                                <div class="Card__spotlightItemsAlt___3zmmE">
                                    <div class="Card__content___2_jDO undefined"><a class="Link__link___3dWao Rubric__rubric___3hrQE Card__rubric___npBeO " href="/culture/culture-desk" title="Culture Desk">Culture Desk</a>
                                        <a class="Link__link___3dWao Card__imageLink___16N7I " href="/culture/culture-desk/eurovisions-sanitized-vision-of-israel">
                                            <div class="Image__image___1PhYl Card__image___OLrHW" role="button" tabindex="0">
                                                <picture class="component-responsive-image">
                                                    <source media="(min-width: 1280px)" srcSet="https://media.newyorker.com/photos/5ce44735493dcc6a51a2c30a/4:3/w_112,c_limit/Fry-Eurovision.jpg, https://media.newyorker.com/photos/5ce44735493dcc6a51a2c30a/4:3/w_224,c_limit/Fry-Eurovision.jpg 2x" />
                                                    <source media="(min-width: 768px)" srcSet="https://media.newyorker.com/photos/5ce44735493dcc6a51a2c30a/4:3/w_72,c_limit/Fry-Eurovision.jpg, https://media.newyorker.com/photos/5ce44735493dcc6a51a2c30a/4:3/w_144,c_limit/Fry-Eurovision.jpg 2x" />
                                                    <source srcSet="https://media.newyorker.com/photos/5ce44735493dcc6a51a2c30a/4:3/w_768,c_limit/Fry-Eurovision.jpg, https://media.newyorker.com/photos/5ce44735493dcc6a51a2c30a/4:3/w_1536,c_limit/Fry-Eurovision.jpg 2x" /><img alt="" src="https://media.newyorker.com/photos/5ce44735493dcc6a51a2c30a/4:3/w_768,c_limit/Fry-Eurovision.jpg" title="" /></picture>
                                            </div>
                                        </a><a class="Link__link___3dWao  " href="/culture/culture-desk/eurovisions-sanitized-vision-of-israel"><h3 class="Card__hed___31cLY">Eurovision’s Sanitized Vision of Israel</h3></a>
                                        <p class="Card__dek___29Iu1">This year’s competition, which featured Madonna, Gal Gadot, and more, seemed intent on presenting Israel as miraculously untouched by political tensions.</p>
                                        <div class="Byline__theLatest___2viI5  ">
                                            <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="Naomi Fry" rel="author" href="/contributors/naomi-fry">Naomi Fry</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Item 5 -->
                            <div class="SpotlightSection__spotlightItemContainer___3Aiko">
                                <div class="Card__spotlightItemsAlt___3zmmE">
                                    <div class="Card__content___2_jDO undefined"><a class="Link__link___3dWao Rubric__rubric___3hrQE Card__rubric___npBeO " href="/magazine/personal-history" title="Personal History">Personal History</a>
                                        <a class="Link__link___3dWao Card__imageLink___16N7I " href="/magazine/2019/05/27/losing-religion-and-finding-ecstasy-in-houston">
                                            <div class="Image__image___1PhYl Card__image___OLrHW" role="button" tabindex="0">
                                                <picture class="component-responsive-image">
                                                    <source media="(min-width: 1280px)" srcSet="https://media.newyorker.com/photos/5cdee7f90efb4ea73032f63d/4:3/w_112,c_limit/190527_r34377.jpg, https://media.newyorker.com/photos/5cdee7f90efb4ea73032f63d/4:3/w_224,c_limit/190527_r34377.jpg 2x" />
                                                    <source media="(min-width: 768px)" srcSet="https://media.newyorker.com/photos/5cdee7f90efb4ea73032f63d/4:3/w_72,c_limit/190527_r34377.jpg, https://media.newyorker.com/photos/5cdee7f90efb4ea73032f63d/4:3/w_144,c_limit/190527_r34377.jpg 2x" />
                                                    <source srcSet="https://media.newyorker.com/photos/5cdee7f90efb4ea73032f63d/4:3/w_768,c_limit/190527_r34377.jpg, https://media.newyorker.com/photos/5cdee7f90efb4ea73032f63d/4:3/w_1536,c_limit/190527_r34377.jpg 2x" /><img alt="" src="https://media.newyorker.com/photos/5cdee7f90efb4ea73032f63d/4:3/w_768,c_limit/190527_r34377.jpg" title="" /></picture>
                                            </div>
                                        </a><a class="Link__link___3dWao  " href="/magazine/2019/05/27/losing-religion-and-finding-ecstasy-in-houston"><h3 class="Card__hed___31cLY">Losing Religion and Finding Ecstasy in Houston</h3></a>
                                        <p class="Card__dek___29Iu1">Christianity formed my deepest instincts, and I have been walking away from it for half my life.</p>
                                        <div class="Byline__theLatest___2viI5  ">
                                            <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="Jia Tolentino" rel="author" href="/contributors/jia-tolentino">Jia Tolentino</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Item 6 -->
                            <div class="SpotlightSection__spotlightItemContainer___3Aiko">
                                <div class="Card__spotlightItemsAlt___3zmmE">
                                    <div class="Card__content___2_jDO undefined"><a class="Link__link___3dWao Rubric__rubric___3hrQE Card__rubric___npBeO " href="/crossword/puzzles-dept" title="Puzzles Dept.">Puzzles Dept.</a>
                                        <a class="Link__link___3dWao Card__imageLink___16N7I " href="/crossword/puzzles-dept/2019/05/20">
                                            <div class="Image__image___1PhYl Card__image___OLrHW" role="button" tabindex="0">
                                                <picture class="component-responsive-image">
                                                    <source media="(min-width: 1280px)" srcSet="https://media.newyorker.com/photos/5abd243731a8d50df08d57dd/4:3/w_112,c_limit/Crossword-Puzzle-Eustace.jpg, https://media.newyorker.com/photos/5abd243731a8d50df08d57dd/4:3/w_224,c_limit/Crossword-Puzzle-Eustace.jpg 2x" />
                                                    <source media="(min-width: 768px)" srcSet="https://media.newyorker.com/photos/5abd243731a8d50df08d57dd/4:3/w_72,c_limit/Crossword-Puzzle-Eustace.jpg, https://media.newyorker.com/photos/5abd243731a8d50df08d57dd/4:3/w_144,c_limit/Crossword-Puzzle-Eustace.jpg 2x" />
                                                    <source srcSet="https://media.newyorker.com/photos/5abd243731a8d50df08d57dd/4:3/w_768,c_limit/Crossword-Puzzle-Eustace.jpg, https://media.newyorker.com/photos/5abd243731a8d50df08d57dd/4:3/w_1536,c_limit/Crossword-Puzzle-Eustace.jpg 2x" /><img alt="" src="https://media.newyorker.com/photos/5abd243731a8d50df08d57dd/4:3/w_768,c_limit/Crossword-Puzzle-Eustace.jpg" title="" /></picture>
                                            </div>
                                        </a><a class="Link__link___3dWao  " href="/crossword/puzzles-dept/2019/05/20"><h3 class="Card__hed___31cLY">The Weekday Crossword</h3></a>
                                        <p class="Card__dek___29Iu1">“Call Me by Your Name” name: four letters.</p>
                                        <div class="Byline__theLatest___2viI5  ">
                                            <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="Anna Shechtman " rel="author" href="/contributors/anna-shechtman">Anna Shechtman </a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <!-- Ad Container -->
                <div class="SpotlightSection__adContainer___21KsF">
                    <div class="SpotlightSection__ad___3Sz9N">
                        <div data-cm-unit="show-failsafe">
                            <div data-cns="cns-slot-siderail" class=""></div>
                        </div>
                    </div>
                </div>


            </div>
        </section>
        <!-- END Spotlight Section -->

        <!-- Latest Section -->
        <section data-track-type="recirc" data-track-location="mod-latest" data-service="none" data-source="curated" class="LatestSection__latestRow___3wyYQ">
            <div class="LatestSection__latestColumn___9T9OS">
                <h5 class="LatestSection__sectionHeader___1xOSE">The Latest</h5>
                <div class="LatestSection__listContainer___3lMZ4">

                    <!-- Item 1 -->
                    {% include newyorker/sections/03-latest/item.html item='test' %}

                    <!-- Item 2 -->
                    <div class="Card__theLatest___2bNJt">
                        <div class="Card__content___10ZW7 Card__hasPhoto___2TFok">
                            <div class="Card__topSection___2luA-"><a class="Link__link___3dWao Rubric__rubric___3hrQE Card__rubric___2pUPJ " href="/humor/daily-shouts" title="Daily Shouts">Daily Shouts</a></div><a class="Link__link___3dWao  " href="/humor/daily-shouts/the-koch-brothers-kama-sutra"><h3 class="Card__hed___3aD8c">The Koch Brothers’ Kama Sutra</h3></a>
                            <div class="Card__dekImageContainer___3CRKY">
                                <a class="Link__link___3dWao  " href="/humor/daily-shouts/the-koch-brothers-kama-sutra">
                                    <div class="Image__image___1PhYl Card__image___3i3np" role="button" tabindex="0">
                                        <picture class="component-responsive-image">
                                            <source media="(min-width: 1280px)" srcSet="https://media.newyorker.com/photos/5ce469ff1280472f18a50a70/4:3/w_280,c_limit/Rand-KochBrosKamaSutra.jpg, https://media.newyorker.com/photos/5ce469ff1280472f18a50a70/4:3/w_560,c_limit/Rand-KochBrosKamaSutra.jpg 2x" />
                                            <source media="(min-width: 1024px)" srcSet="https://media.newyorker.com/photos/5ce469ff1280472f18a50a70/4:3/w_304,c_limit/Rand-KochBrosKamaSutra.jpg, https://media.newyorker.com/photos/5ce469ff1280472f18a50a70/4:3/w_608,c_limit/Rand-KochBrosKamaSutra.jpg 2x" />
                                            <source media="(min-width: 768px)" srcSet="https://media.newyorker.com/photos/5ce469ff1280472f18a50a70/4:3/w_364,c_limit/Rand-KochBrosKamaSutra.jpg, https://media.newyorker.com/photos/5ce469ff1280472f18a50a70/4:3/w_728,c_limit/Rand-KochBrosKamaSutra.jpg 2x" />
                                            <source srcSet="https://media.newyorker.com/photos/5ce469ff1280472f18a50a70/4:3/w_116,c_limit/Rand-KochBrosKamaSutra.jpg, https://media.newyorker.com/photos/5ce469ff1280472f18a50a70/4:3/w_232,c_limit/Rand-KochBrosKamaSutra.jpg 2x" /><img alt="" src="https://media.newyorker.com/photos/5ce469ff1280472f18a50a70/4:3/w_116,c_limit/Rand-KochBrosKamaSutra.jpg" title="" /></picture>
                                    </div>
                                </a>
                                <p class="Card__dek___2E3rB">Begin by flirting with a small Texas town. Tease the local people with bulging economic incentives. When they’re begging you to penetrate the market, spread open their valley and frack it silly.</p>
                            </div>
                            <div>
                                <div class="Byline__theLatest___2viI5  ">
                                    <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="Casey Rand" rel="author" href="/contributors/casey-rand">Casey Rand</a></p>
                                </div><span class="Card__timestamp___3DCYn">7:00 A.M.</span></div>
                        </div>
                    </div>

                    <!-- Item 3 -->
                    <div class="Card__theLatest___2bNJt">
                        <div class="Card__content___10ZW7 Card__hasPhoto___2TFok">
                            <div class="Card__topSection___2luA-"><a class="Link__link___3dWao Rubric__rubric___3hrQE Card__rubric___2pUPJ " href="/culture/cultural-comment" title="Cultural Comment">Cultural Comment</a></div><a class="Link__link___3dWao  " href="/culture/cultural-comment/how-jeff-koonss-rabbit-became-big-game"><h3 class="Card__hed___3aD8c">How Jeff Koons’s “Rabbit” Became Big Game</h3></a>
                            <div class="Card__dekImageContainer___3CRKY">
                                <a class="Link__link___3dWao  " href="/culture/cultural-comment/how-jeff-koonss-rabbit-became-big-game">
                                    <div class="Image__image___1PhYl Card__image___3i3np" role="button" tabindex="0">
                                        <picture class="component-responsive-image">
                                            <source media="(min-width: 1280px)" srcSet="https://media.newyorker.com/photos/5ce30554a8384fa817488dd8/4:3/w_280,c_limit/Scott-KoonsRabbit.jpg, https://media.newyorker.com/photos/5ce30554a8384fa817488dd8/4:3/w_560,c_limit/Scott-KoonsRabbit.jpg 2x" />
                                            <source media="(min-width: 1024px)" srcSet="https://media.newyorker.com/photos/5ce30554a8384fa817488dd8/4:3/w_304,c_limit/Scott-KoonsRabbit.jpg, https://media.newyorker.com/photos/5ce30554a8384fa817488dd8/4:3/w_608,c_limit/Scott-KoonsRabbit.jpg 2x" />
                                            <source media="(min-width: 768px)" srcSet="https://media.newyorker.com/photos/5ce30554a8384fa817488dd8/4:3/w_364,c_limit/Scott-KoonsRabbit.jpg, https://media.newyorker.com/photos/5ce30554a8384fa817488dd8/4:3/w_728,c_limit/Scott-KoonsRabbit.jpg 2x" />
                                            <source srcSet="https://media.newyorker.com/photos/5ce30554a8384fa817488dd8/4:3/w_116,c_limit/Scott-KoonsRabbit.jpg, https://media.newyorker.com/photos/5ce30554a8384fa817488dd8/4:3/w_232,c_limit/Scott-KoonsRabbit.jpg 2x" /><img alt="" src="https://media.newyorker.com/photos/5ce30554a8384fa817488dd8/4:3/w_116,c_limit/Scott-KoonsRabbit.jpg" title="" /></picture>
                                    </div>
                                </a>
                                <p class="Card__dek___2E3rB">Being expensive is not the same as being great. Koons’s “Rabbit” is both.</p>
                            </div>
                            <div>
                                <div class="Byline__theLatest___2viI5  ">
                                    <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="Andrea K. Scott" rel="author" href="/contributors/andrea-k-scott">Andrea K. Scott</a></p>
                                </div><span class="Card__timestamp___3DCYn">May 21, 2019</span></div>
                        </div>
                    </div>

                    <!-- Item 4 -->
                    <div class="Card__theLatest___2bNJt">
                        <div class="Card__content___10ZW7 Card__hasPhoto___2TFok">
                            <div class="Card__topSection___2luA-"><a class="Link__link___3dWao Rubric__rubric___3hrQE Card__rubric___2pUPJ " href="/humor/daily-shouts" title="Daily Shouts">Daily Shouts</a></div><a class="Link__link___3dWao  " href="/humor/daily-shouts/the-joy-of-spring"><h3 class="Card__hed___3aD8c">The Joy of Spring</h3></a>
                            <div class="Card__dekImageContainer___3CRKY">
                                <a class="Link__link___3dWao  " href="/humor/daily-shouts/the-joy-of-spring">
                                    <div class="Image__image___1PhYl Card__image___3i3np" role="button" tabindex="0">
                                        <picture class="component-responsive-image">
                                            <source media="(min-width: 1280px)" srcSet="https://media.newyorker.com/photos/5ce31c0553abc40d27bba545/4:3/w_280,c_limit/SHOUTS_Peacock_Spring_Promo.jpg, https://media.newyorker.com/photos/5ce31c0553abc40d27bba545/4:3/w_560,c_limit/SHOUTS_Peacock_Spring_Promo.jpg 2x" />
                                            <source media="(min-width: 1024px)" srcSet="https://media.newyorker.com/photos/5ce31c0553abc40d27bba545/4:3/w_304,c_limit/SHOUTS_Peacock_Spring_Promo.jpg, https://media.newyorker.com/photos/5ce31c0553abc40d27bba545/4:3/w_608,c_limit/SHOUTS_Peacock_Spring_Promo.jpg 2x" />
                                            <source media="(min-width: 768px)" srcSet="https://media.newyorker.com/photos/5ce31c0553abc40d27bba545/4:3/w_364,c_limit/SHOUTS_Peacock_Spring_Promo.jpg, https://media.newyorker.com/photos/5ce31c0553abc40d27bba545/4:3/w_728,c_limit/SHOUTS_Peacock_Spring_Promo.jpg 2x" />
                                            <source srcSet="https://media.newyorker.com/photos/5ce31c0553abc40d27bba545/4:3/w_116,c_limit/SHOUTS_Peacock_Spring_Promo.jpg, https://media.newyorker.com/photos/5ce31c0553abc40d27bba545/4:3/w_232,c_limit/SHOUTS_Peacock_Spring_Promo.jpg 2x" /><img alt="" src="https://media.newyorker.com/photos/5ce31c0553abc40d27bba545/4:3/w_116,c_limit/SHOUTS_Peacock_Spring_Promo.jpg" title="" /></picture>
                                    </div>
                                </a>
                                <p class="Card__dek___2E3rB">Isn’t springtime wonderful? Of course! Or maybe not.</p>
                            </div>
                            <div>
                                <div class="Byline__theLatest___2viI5  ">
                                    <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="Tim Peacock" rel="author" href="/contributors/tim-peacock">Tim Peacock</a></p>
                                </div><span class="Card__timestamp___3DCYn">May 21, 2019</span></div>
                        </div>
                    </div>


                    <!-- Item 5 -->
                    <div class="Card__theLatest___2bNJt">
                        <div class="Card__content___10ZW7 Card__hasPhoto___2TFok">
                            <div class="Card__topSection___2luA-"><a class="Link__link___3dWao Rubric__rubric___3hrQE Card__rubric___2pUPJ " href="/culture/annals-of-gastronomy" title="Annals of Gastronomy">Annals of Gastronomy</a></div><a class="Link__link___3dWao  " href="/culture/annals-of-gastronomy/the-underrated-pleasures-of-eating-dinner-early"><h3 class="Card__hed___3aD8c">The Underrated Pleasures of Eating Dinner Early</h3></a>
                            <div class="Card__dekImageContainer___3CRKY">
                                <a class="Link__link___3dWao  " href="/culture/annals-of-gastronomy/the-underrated-pleasures-of-eating-dinner-early">
                                    <div class="Image__image___1PhYl Card__image___3i3np" role="button" tabindex="0">
                                        <picture class="component-responsive-image">
                                            <source media="(min-width: 1280px)" srcSet="https://media.newyorker.com/photos/5ce406b369497546b4fe382e/4:3/w_280,c_limit/Collins-Earlydinner.jpg, https://media.newyorker.com/photos/5ce406b369497546b4fe382e/4:3/w_560,c_limit/Collins-Earlydinner.jpg 2x" />
                                            <source media="(min-width: 1024px)" srcSet="https://media.newyorker.com/photos/5ce406b369497546b4fe382e/4:3/w_304,c_limit/Collins-Earlydinner.jpg, https://media.newyorker.com/photos/5ce406b369497546b4fe382e/4:3/w_608,c_limit/Collins-Earlydinner.jpg 2x" />
                                            <source media="(min-width: 768px)" srcSet="https://media.newyorker.com/photos/5ce406b369497546b4fe382e/4:3/w_364,c_limit/Collins-Earlydinner.jpg, https://media.newyorker.com/photos/5ce406b369497546b4fe382e/4:3/w_728,c_limit/Collins-Earlydinner.jpg 2x" />
                                            <source srcSet="https://media.newyorker.com/photos/5ce406b369497546b4fe382e/4:3/w_116,c_limit/Collins-Earlydinner.jpg, https://media.newyorker.com/photos/5ce406b369497546b4fe382e/4:3/w_232,c_limit/Collins-Earlydinner.jpg 2x" /><img alt="" src="https://media.newyorker.com/photos/5ce406b369497546b4fe382e/4:3/w_116,c_limit/Collins-Earlydinner.jpg" title="" /></picture>
                                    </div>
                                </a>
                                <p class="Card__dek___2E3rB">Late dinner, sexy and recherché, has its acolytes. But, despite its connotations of denture-friendly fare and penny-pinching, early dinner is the most decadent meal there is.</p>
                            </div>
                            <div>
                                <div class="Byline__theLatest___2viI5  ">
                                    <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="Lauren Collins" rel="author" href="/contributors/lauren-collins">Lauren Collins</a></p>
                                </div><span class="Card__timestamp___3DCYn">May 21, 2019</span></div>
                        </div>
                    </div>

                </div>

                <!-- More Latest Items -->
                <a class="Link__link___3dWao LatestSection__moreStories___3ETco Link__secondary___3lxp9" href="/latest">More Stories</a></div>
        </section>
        <!-- END Latest Section -->


        <!-- {% include newyorker/promoSection.html %} -->

        <!-- Contributors and Most Popular, Two Columns -->
        <div class="ContributorsSection__twoColumn___3aCEa">

          <!-- Contributors Section -->
            <section data-track-type="recirc" data-track-location="mod-contributors" data-service="none" data-source="curated" class="ContributorsSection__section___abHAt">
                <div class="ContributorsSection__sectionRow___J3SGx">
                    <div class="ContributorsSection__sectionColumn___2_3FJ">
                        <h5 class="ContributorsSection__sectionHeader___1LeEd">Contributors</h5>
                        <div class="ContributorsSection__wrapper___2PiNU">

                            <!-- Contributor 1 -->
                            {% include newyorker/sections/04-contributors-and-most-popular/contributors/item.html item='test' %}

                            <!-- Contributor 2 -->
                            <div class="Contributor__itemContainer___3CS3_">
                                <a class="Link__link___3dWao  " href="/contributors/andrea-k-scott">
                                    <div class="Image__image___1PhYl Contributor__photo___SVmjU" role="button" tabindex="0">
                                        <picture class="component-responsive-image">
                                            <source srcSet="https://media.newyorker.com/photos/59097b7d8b51cf59fc423c6b/1:1/w_130,c_limit/scott-andrea.png, https://media.newyorker.com/photos/59097b7d8b51cf59fc423c6b/1:1/w_260,c_limit/scott-andrea.png 2x" /><img alt="" src="https://media.newyorker.com/photos/59097b7d8b51cf59fc423c6b/1:1/w_130,c_limit/scott-andrea.png" title="" /></picture>
                                    </div>
                                </a>
                                <div><a class="Link__link___3dWao Contributor__name___2cnfi " href="/contributors/andrea-k-scott">Andrea K. Scott</a><a class="Link__link___3dWao  " href="/culture/cultural-comment/how-jeff-koonss-rabbit-became-big-game"><h3 class="Contributor__hed___2z_RO">How Jeff Koons’s “Rabbit” Became Big Game</h3></a><a class="Link__link___3dWao Contributor__work___392rP " href="/contributors/andrea-k-scott">All Work</a></div>
                            </div>

                            <!-- Contributor 3 -->
                            <div class="Contributor__itemContainer___3CS3_">
                                <a class="Link__link___3dWao  " href="/contributors/isaac-chotiner">
                                    <div class="Image__image___1PhYl Contributor__photo___SVmjU" role="button" tabindex="0">
                                        <picture class="component-responsive-image">
                                            <source srcSet="https://media.newyorker.com/photos/5c2d27f781ab3335f580efe4/1:1/w_130,c_limit/isaac_chotiner.png, https://media.newyorker.com/photos/5c2d27f781ab3335f580efe4/1:1/w_260,c_limit/isaac_chotiner.png 2x" /><img alt="" src="https://media.newyorker.com/photos/5c2d27f781ab3335f580efe4/1:1/w_130,c_limit/isaac_chotiner.png" title="" /></picture>
                                    </div>
                                </a>
                                <div><a class="Link__link___3dWao Contributor__name___2cnfi " href="/contributors/isaac-chotiner">Isaac Chotiner</a><a class="Link__link___3dWao  " href="/news/q-and-a/a-philosopher-of-law-on-the-dangers-of-trumps-plan-to-pardon-american-war-criminals"><h3 class="Contributor__hed___2z_RO">A Law Philosopher on Trump’s Plan to Pardon War Criminals</h3></a><a class="Link__link___3dWao Contributor__work___392rP " href="/contributors/isaac-chotiner">All Work</a></div>
                            </div>

                            <!-- Contributor 4 -->
                            <div class="Contributor__itemContainer___3CS3_">
                                <a class="Link__link___3dWao  " href="/contributors/sarah-larson">
                                    <div class="Image__image___1PhYl Contributor__photo___SVmjU" role="button" tabindex="0">
                                        <picture class="component-responsive-image">
                                            <source srcSet="https://media.newyorker.com/photos/59097b7aebe912338a378662/1:1/w_130,c_limit/larson-sarah-1.png, https://media.newyorker.com/photos/59097b7aebe912338a378662/1:1/w_260,c_limit/larson-sarah-1.png 2x" /><img alt="" src="https://media.newyorker.com/photos/59097b7aebe912338a378662/1:1/w_130,c_limit/larson-sarah-1.png" title="" /></picture>
                                    </div>
                                </a>
                                <div><a class="Link__link___3dWao Contributor__name___2cnfi " href="/contributors/sarah-larson">Sarah Larson</a><a class="Link__link___3dWao  " href="/culture/the-new-yorker-interview/daenerys-tells-all-game-of-thrones-finale-emilia-clarke-beyonce"><h3 class="Contributor__hed___2z_RO">Daenerys Tells All!</h3></a><a class="Link__link___3dWao Contributor__work___392rP " href="/contributors/sarah-larson">All Work</a></div>
                            </div>
                        </div>

                        <!-- More Contributors-->
                        <a class="Link__link___3dWao  Link__secondary___3lxp9" href="/contributors">More Contributors</a></div>
                </div>
            </section>
            <!-- END Contributors Section -->

            <!-- Most Popular Section -->
            <section class="MostPopularSection__section___2xjs1">
                <div class="MostPopularSection__sectionRow___1mfu3">
                    <div class="MostPopularSection__sectionColumn___K50O1">
                        <div class="RecirculationMostPopular__home___24fon">
                            <h3 class="RecirculationMostPopular__title___zwZ4R">Most Popular</h3>
                            <ul data-track-type="recirc" data-track-location="mod-most-popular" data-service="parsely" data-source="parsely" class="RecirculationMostPopular__itemsList___2lXkt">
                                <!-- First -->
                                {% include newyorker/sections/04-contributors-and-most-popular/most-popular/item.html item='test' %}

                                <!-- Second -->
                                <li class="RecirculationMostPopular__item___2z9PN" data-track-type="recircItem" data-track-location="mod-most-popular" data-source="parsely" data-track-position="1"><span class="RecirculationMostPopular__counter___3YFww">2.</span>
                                    <div class="RecirculationMostPopular__content___1no0_"><span class="RecirculationMostPopular__rubric___29E94">Letter from Montreal</span><a class="Link__link___3dWao  " href="/magazine/2019/05/27/joe-beef-and-the-excesses-of-restaurant-culture"><h5 class="RecirculationMostPopular__hed___1Yugq">Joe Beef and the Excesses of Restaurant Culture</h5></a>
                                        <div class="Byline__theLatest___2viI5  ">
                                            <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="Hannah Goldfield" rel="author" href="/contributors/hannah-goldfield">Hannah Goldfield</a></p>
                                        </div>
                                    </div>
                                </li>

                                <!-- Third -->
                                <li class="RecirculationMostPopular__item___2z9PN" data-track-type="recircItem" data-track-location="mod-most-popular" data-source="parsely" data-track-position="2"><span class="RecirculationMostPopular__counter___3YFww">3.</span>
                                    <div class="RecirculationMostPopular__content___1no0_"><span class="RecirculationMostPopular__rubric___29E94">Personal History</span><a class="Link__link___3dWao  " href="/magazine/2019/05/27/losing-religion-and-finding-ecstasy-in-houston"><h5 class="RecirculationMostPopular__hed___1Yugq">Losing Religion and Finding Ecstasy in Houston</h5></a>
                                        <div class="Byline__theLatest___2viI5  ">
                                            <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="Jia Tolentino" rel="author" href="/contributors/jia-tolentino">Jia Tolentino</a></p>
                                        </div>
                                    </div>
                                </li>

                                <!-- Fourth -->
                                <li class="RecirculationMostPopular__item___2z9PN" data-track-type="recircItem" data-track-location="mod-most-popular" data-source="parsely" data-track-position="3"><span class="RecirculationMostPopular__counter___3YFww">4.</span>
                                    <div class="RecirculationMostPopular__content___1no0_"><span class="RecirculationMostPopular__rubric___29E94">Books</span><a class="Link__link___3dWao  " href="/magazine/2019/05/27/the-troubled-history-of-psychiatry"><h5 class="RecirculationMostPopular__hed___1Yugq">The Troubled History of Psychiatry</h5></a>
                                        <div class="Byline__theLatest___2viI5  ">
                                            <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="Jerome Groopman" rel="author" href="/contributors/jerome-groopman">Jerome Groopman</a></p>
                                        </div>
                                    </div>
                                </li>

                                <!-- Fifth -->
                                <li class="RecirculationMostPopular__item___2z9PN" data-track-type="recircItem" data-track-location="mod-most-popular" data-source="parsely" data-track-position="4"><span class="RecirculationMostPopular__counter___3YFww">5.</span>
                                    <div class="RecirculationMostPopular__content___1no0_"><span class="RecirculationMostPopular__rubric___29E94">A Reporter at Large</span><a class="Link__link___3dWao  " href="/magazine/2019/05/27/the-undercover-fascist"><h5 class="RecirculationMostPopular__hed___1Yugq">The Undercover Fascist</h5></a>
                                        <div class="Byline__theLatest___2viI5  ">
                                            <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="Ed Caesar" rel="author" href="/contributors/ed-caesar">Ed Caesar</a></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- Runner ups -->
                            <a class="Link__link___3dWao RecirculationMostPopular__more___q6L9B Link__secondary___3lxp9" href="/popular?intcid=most-popular"><span>our thirty most popular</span></a></div>
                    </div>
                </div>
            </section>
            <!-- END Most Popular Section -->
        </div>
        <!-- END Two Columns -->

        <!-- Video Section -->
        {% include newyorker/sections/05-video/section.html %}
        <!-- END Video Section -->

        <!-- Daily Cartoon Section -->
        {% include newyorker/sections/06-daily-cartoon/section.html %}
        <!-- END Daily Cartoon Section -->

        <!-- Photo Booth Section -->
        {% include newyorker/sections/07-photo-booth/section.html %}
        <!-- END Photo Booth Section -->

        <!-- Magazine Section -->
        {% include newyorker/sections/08-magazine/section.html %}
        <!-- END Magazine Section -->

        <!-- From This Week Issue Section -->
        {% include newyorker/sections/09-from-this-week/section.html %}
        <!-- END From This Week Section -->

        <!-- Our Columnists Section -->
        {% include newyorker/sections/10-our-columnists/section.html %}
        <!-- END Our Columnist Section -->

        <!-- Podcasts Section -->
        {% include newyorker/sections/11-podcasts/section.html %}
        <!-- END Podcast Section -->

        <!-- Previous Coverage Section -->
        {% include newyorker/sections/12-previous-coverage/section.html %}
        <!-- END Previous Coverage Section -->
    </div>
</section>
