{% for post in site.posts %}
  {% if post.in-the-news-below == true %}
    <div class="Card__content___2_jDO undefined"><a class="Link__link___3dWao Rubric__rubric___3hrQE Card__rubric___npBeO " href="#" title="">{% for category in post.categories %}{{ category | capitalize }}{% endfor %}</a>
        <a class="Link__link___3dWao Card__imageLink___16N7I " href="/culture/culture-desk/the-unexpected-power-of-your-old-neighborhood">
            <div class="Image__image___1PhYl Card__image___OLrHW" role="button" tabindex="0">
                <picture class="component-responsive-image">
                    <!-- <source media="(min-width: 1280px)" srcSet="https://media.newyorker.com/photos/5ce476fe65b32eb191d99ebb/4:3/w_160,c_limit/Rotella-ChicagoNeighborhoodExcerpt-Secondary.jpg, https://media.newyorker.com/photos/5ce476fe65b32eb191d99ebb/4:3/w_320,c_limit/Rotella-ChicagoNeighborhoodExcerpt-Secondary.jpg 2x" />
                    <source media="(min-width: 1024px)" srcSet="https://media.newyorker.com/photos/5ce476fe65b32eb191d99ebb/4:3/w_142,c_limit/Rotella-ChicagoNeighborhoodExcerpt-Secondary.jpg, https://media.newyorker.com/photos/5ce476fe65b32eb191d99ebb/4:3/w_284,c_limit/Rotella-ChicagoNeighborhoodExcerpt-Secondary.jpg 2x" /> -->
                    <!-- <source srcSet="https://media.newyorker.com/photos/5ce476fe65b32eb191d99ebb/4:3/w_728,c_limit/Rotella-ChicagoNeighborhoodExcerpt-Secondary.jpg, https://media.newyorker.com/photos/5ce476fe65b32eb191d99ebb/4:3/w_1456,c_limit/Rotella-ChicagoNeighborhoodExcerpt-Secondary.jpg 2x" /> -->
                    <img alt="" src="{{ post.image }}" title="" /></picture>
            </div>
        </a><a class="Link__link___3dWao  " href="/culture/culture-desk/the-unexpected-power-of-your-old-neighborhood"><h3 class="Card__hed___31cLY">{{ post.title }}</h3></a>
        <p class="Card__dek___29Iu1">{{ post.description }}</p>
        {% if post.author %}
        <div class="Byline__theLatest___2viI5  ">
            <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="{{ post.author }}" rel="author" href="#">{{ post.author }}</a></p>
        </div>
        {% endif %}
    </div>
  {% endif %}
{% endfor%}
