<div class="Card__heroSecondarySecondaryItemsRest___38peE">
    <div class="Card__content___2_jDO undefined"><a class="Link__link___3dWao Rubric__rubric___3hrQE Card__rubric___npBeO " href="#" title="Dispatch">{% for category in include.post.categories %}{{ category | capitalize }}{% endfor %}</a>
        <a class="Link__link___3dWao Card__imageLink___16N7I " href="{{ include.post.url }}">
            <div class="Image__image___1PhYl Card__image___OLrHW" role="button" tabindex="0">
                <picture class="component-responsive-image">
                    <img alt="" src="{{ include.post.image }}" title="" />
                  </picture>
            </div>
        </a><a class="Link__link___3dWao  " href="{{ include.post.url }}"><h3 class="Card__hed___31cLY">{{ include.post.title }}</h3></a>
        <!-- <p class="Card__dek___29Iu1">“South Kashmir is in a constant state of funerals,” a local political operator said, referring to fighting between Indian forces and Kashmiri militants. “We cannot go now and talk about votes.”</p> -->
        {% if post.author %}
        <div class="Byline__theLatest___2viI5  ">
            <p class="Byline__by___37lv8">By <a class="Link__link___3dWao  " title="{{ include.post.author }}" rel="author" href="#">{{ include.post.author }}</a></p>
        </div>
        {% endif %}
    </div>
</div>
