<footer class="ArticleFooter__footer___3-wlJ"><span class="ArticleDisclaimer__articleDisclaimer___2kCNX">This article appears in the print edition of the <a href=/magazine/2019/06/03>June 3, 2019</a>, issue, with the headline “No Mercy.”</span>
    <div class="ArticleContributors__bio___3XQjk">
        <div class="ArticleContributors__contributorWrapper___1CrIJ">
            <div class="Avatar__avatar___1_uRc ArticleContributors__bioAvatar___11Nu0">
                <a class="Link__link___3dWao  " href="/contributors/margaret-talbot">
                    <div class="Image__image___1PhYl" role="button" tabindex="0">
                        <picture class="component-responsive-image">
                            <source srcSet="https://media.newyorker.com/photos/59097b75019dfc3494ea36d7/1:1/w_130,c_limit/talbot-margaret.png, https://media.newyorker.com/photos/59097b75019dfc3494ea36d7/1:1/w_260,c_limit/talbot-margaret.png 2x" /><img alt="" src="https://media.newyorker.com/photos/59097b75019dfc3494ea36d7/1:1/w_130,c_limit/talbot-margaret.png" title="" /></picture>
                    </div>
                </a>
            </div>
            <ul class="ArticleContributors__contributorBios___3_jrJ false">
                <li>
                    <p class="ArticleContributors__contributorBioText___3m1QB">Margaret Talbot is a staff writer at The New Yorker and the author of “<a href="https://www.amazon.com/dp/1594631883/?tag=thneyo0f-20">The Entertainer: Movies, Magic and My Father’s Twentieth Century</a>.”</p><a class="Link__link___3dWao ArticleContributors__contributorBioLink___3ifgZ " href="/contributors/margaret-talbot">Read more »</a></li>
            </ul>
        </div>
    </div>
    <ul class="Tags__tags___1WDCj"><span class="Tags__heading___3sE5b">More:</span>
        <li class="Tags__item___3xh9I"><a class="Link__link___3dWao  " href="/tag/immigrants">Immigrants</a></li>
        <li class="Tags__item___3xh9I"><a class="Link__link___3dWao  " href="/tag/immigration">Immigration</a></li>
        <li class="Tags__item___3xh9I"><a class="Link__link___3dWao  " href="/tag/children">Children</a></li>
        <li class="Tags__item___3xh9I"><a class="Link__link___3dWao  " href="/tag/border">Border</a></li>
        <li class="Tags__item___3xh9I"><a class="Link__link___3dWao  " href="/tag/missing">Missing</a></li>
        <li class="Tags__item___3xh9I"><a class="Link__link___3dWao  " href="/tag/abuse">Abuse</a></li>
    </ul>
    <div data-cm-unit="show-failsafe">
        <div data-cns="cns-slot-end-of-article" class="ArticleFooter__adEndArticle___2_iy_"></div>
    </div>
    <div class="">
        <form>
            <section class="NewsletterSubscribe__newsletterComponent___1ZI2a">
                <p class="NewsletterSubscribe__newsletterDek___29WDu">Never miss a big <i>New Yorker</i> story again. Sign up for This Week’s Issue and get an e-mail every week with the stories you have to read.</p>
                <div class="Input__inputContainer___3ZRfk">
                    <input type="email" autoComplete="on" class="Input__input___2fcvD " name="" placeholder="Enter your e-mail" />
                    <button class="Input__inputButton___2--U_" type="submit">Submit</button>
                </div>
            </section>
        </form>
    </div>
</footer>
